{{>head title="Services - Best Photography and Videography Services" meta_description="New Shreenath Enterprise provides a wide range of photography and videography services such as Wedding/Event photography/videography, Pre-wedding photography, Video editing and many more. View New Shreenath Enterprise services to know more about their services." meta_keywords="photography, videography, cinematography, album designing, video editing, album printing, LED screens, wedding photography, event photography/videography, prewedding photography, product photography, photographers, videographers, Vadodara" meta_author="Black Quadrant Technologies"}}
<body class="width-100">
    {{>header}}
    <!-- start slider section -->
    <section class="wow fadeIn no-padding">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-12">
                        <div class="swiper-number-pagination swiper-container black-move">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-inline-block"></div>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Work</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">New Shreenath Enterprise | Vadodara - We capture Memories.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Purpose</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Because every picture tells a Story, let me tell Yours.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Goal</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Capturing moments from today, Creating memories for a lifetime.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Services</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We wish to offer you a one stop solution for all your photography and videography projects. We provide a fusion of traditional, elegant, modern and candid photography and videography with our skilled and experienced crew. We offer you wide range of services ranging from photography and videography to album designing and video editing. This makes us the one stop solution for all your photograhy and videography needs.</h6>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Services we offer:</h6>
                        <ul>
                            <li>Event & Wedding Photography</li>
                            <li>Event & Wedding HD Videography</li>
                            <li>Candid Photography</li>
                            <li>Pre Wedding Photography</li>
                            <li>Child/Baby Photography</li>
                            <li>Product Photography</li>
                            <li>Cinematography</li>
                            <li>Album Designing and Printing</li>
                            <li>Video Editing</li>
                        </ul>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Event & Wedding Photography</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Wedding is a once in a lifetime event, so our photographers are always ready to capture your special, lovely and candid moments to make your wedding more memorable and special.</h6>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We provide various services for wedding such as candid photography, Photobooks, e-Albums, group photography and family photography.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Event & Wedding HD Videography</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We have specialized videographers in DSLR shooting to shoot the event or wedding using different styles according to your requirement to shoot your most memorable day.</h6>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We offer High Definition Videography, Camera Setup, Live Coverage on LCD Screen, Projectors, Crane, Drone, LCD frames and much more.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Candid Photography</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We also provide candid photography with wide array of lenses to shoot or capture your candid moments of sentiments and emotions in weddings, anniversaries, birthdays or any special event. So that when you look at those pictures later, you will be able to feel those moments and relive them again.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Pre Wedding Photography</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Pre Wedding Photography is a portrait photography which covers only you and your soulmate at a location of your choice. We offer these shoots to get you bit more closer to each other before the wedding.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Child/Baby Photography</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Capture those sweet, innocent and priceless moments of your little one with us and cherish them later. We are always prepared to capture those spontaneous and lovely moments of children and make them unforgettable for you.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Product Photography</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Good photography adds authority, which in turn generates the trust of the customer for your product. It creates a huge impact on customers. We are here for your aid to provide you that impact with the help of our specialized photographers.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Cinematography</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">Cinematography is the art of motion-picture photography. We also provide this service.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Album Designing and Printing</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We provide wide variety of album designs and printing services as per your demands, wishes and needs.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Video Editing</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We also offer video editing services like creative title, video effects and much more for your videos.</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        {{>footer}}
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        {{>foot}}