{{>head title="Portfolio - Best Photos and Videos" meta_description="New Shreenath Enterprise deals every photography and videography projects with so much passion and interest that their passion and efforts refects upon their work. View New Shreenath Enterprise's beautiful gallery of their work." meta_keywords="photography, videography, cinematography, album designing, video editing, album printing, LED screens, wedding photography, event photography/videography, prewedding photography, product photography, photographers, videographers, Vadodara" meta_author="Black Quadrant Technologies"}}
<body class="width-100">
    {{>header}}
    <!-- start slider section -->
    <section class="wow fadeIn no-padding">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-12">
                        <div class="swiper-number-pagination swiper-container black-move">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-inline-block"></div>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Work</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">New Shreenath Enterprise | Vadodara - We capture Memories.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Purpose</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Because every picture tells a Story, let me tell Yours.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Goal</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Capturing moments from today, Creating memories for a lifetime.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start masonry portfolio section -->
        <section class="p-0 wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Event and Wedding Photography</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-1.JPG" alt="Wedding-1"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Wedding-1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-3.JPG" alt="Wedding-2"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Wedding-2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-5.JPG" alt="Wedding-3"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Wedding-3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-6.JPG" alt="Wedding-4"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Wedding-4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-7.JPG" alt="Wedding-5"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Wedding-5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-8.JPG" alt="Wedding-6"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Wedding-6</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-9.JPG" alt="Wedding-7"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Wedding-7</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/wedding-10.JPG" alt="Wedding-8"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Wedding-8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end masonry portfolio section -->
        <!-- start video section -->
        <!-- start masonry portfolio section -->
        <section class="p-0 wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Event and Wedding Videography</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <video controls>
                                        <source src="/videos/video-1.mp4" type="video/mp4">
                                    </video>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <video controls>
                                        <source src="/videos/video-2.mp4" type="video/mp4">
                                    </video>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <video controls>
                                        <source src="/videos/video-3.mp4" type="video/mp4">
                                    </video>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <video controls>
                                        <source src="/videos/video-4.mp4" type="video/mp4">
                                    </video>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end masonry portfolio section -->
        <!-- start masonry portfolio section -->
        <section class="p-0 wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Candid Photography</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/candid-1.JPG" alt="Candid-1"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Candid-1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.2s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/candid-4.JPG" alt="Candid-2"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Candid-2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/candid-3.JPG" alt="Candid-3"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Candid-3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-6.JPG" alt="Candid-4"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Candid-4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end masonry portfolio section -->
        <!-- start masonry portfolio section -->
        <section class="p-0 wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Pre Wedding Photography</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-1.JPG" alt="Pre-wedding-1"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Pre-wedding-1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.2s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-2.JPG" alt="Pre-wedding-2"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Pre-wedding-2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-9.JPG" alt="Pre-wedding-3"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Pre-wedding-3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-4.JPG" alt="Pre-wedding-4"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Pre-wedding-4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-5.JPG" alt="Pre-wedding-5"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Pre-wedding-5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-6.JPG" alt="Pre-wedding-6"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Pre-wedding-6</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-7.JPG" alt="Pre-wedding-7"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Pre-wedding-7</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/pre-wedding-8.JPG" alt="Pre-wedding-8"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Pre-wedding-8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end masonry portfolio section -->
        <!-- start masonry portfolio section -->
        <section class="p-0 wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Child/Baby Photography</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                <a href="single-project-page-01.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-1.JPG" alt="Baby-1"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Baby-1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.2s">
                                <a href="single-project-page-02.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-2.JPG" alt="Baby-2"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Baby-2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
                                <a href="single-project-page-03.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-3.jpg" alt="Baby-3"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Baby-3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                <a href="single-project-page-04.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-4.JPG" alt="Baby-4"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Baby-4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                <a href="single-project-page-05.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-5.JPG" alt="Baby-5"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Baby-5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                                <a href="single-project-page-06.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-6.jpg" alt="Baby-6"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Baby-6</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                <a href="single-project-page-07.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-7.JPG" alt="Baby-7"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Baby-7</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                <a href="single-project-page-08.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/baby-8.jpg" alt="Baby-8"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Baby-8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end masonry portfolio section -->
        <!-- start masonry portfolio section -->
        <section class="p-0 wow fadeIn">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-12 filter-content overflow-hidden">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Album Designing and Printing</span>
                        <ul class="portfolio-grid work-4col hover-option2">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                <a href="single-project-page-01.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/album-1.jpg" alt="Album-1"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Album design-1</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.2s">
                                <a href="single-project-page-02.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/album-2.jpg" alt="Album-2"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Album design-2</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp"  data-wow-delay="0.4s">
                                <a href="single-project-page-03.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/album-3.jpg" alt="Album-3"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Album design-3</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                                <a href="single-project-page-04.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/album-4.jpg" alt="Album-4"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Album design-4</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                <a href="single-project-page-05.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/album-5.jpg" alt="Album-5"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Album design-5</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                <a href="single-project-page-05.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/album-6.jpg" alt="Album-6"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Album design-6</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                            <!-- start portfolio item -->
                            <li class="grid-item wow fadeInUp">
                                <a href="single-project-page-05.html">
                                    <figure>
                                        <div class="portfolio-img bg-deep-pink"><img src="/images/album-7.jpg" alt="Album-7"/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-left">
                                                <div class="portfolio-hover-box align-bottom">
                                                    <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                        <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                        <span class="line-height-normal alt-font text-white-2 text-uppercase margin-one-half-bottom d-block font-weight-600">Album design-7</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <!-- end portfolio item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end masonry portfolio section -->
        {{>footer}}
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        {{>foot}}