{{>head title="About us - Professional Wedding Photographers and Videographers" meta_description="New Shreenath Enterprise is a company providing photography and videography services having crew with many years of experience and expertise. View the company info to know more about them." meta_keywords="photography, videography, cinematography, album designing, video editing, album printing, LED screens, wedding photography, event photography/videography, prewedding photography, product photography, photographers, videographers, Vadodara" meta_author="Black Quadrant Technologies"}}
<body class="width-100">
    {{>header}}
    <!-- start slider section -->
    <section class="wow fadeIn no-padding">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-12">
                        <div class="swiper-number-pagination swiper-container black-move">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-inline-block"></div>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Work</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">New Shreenath Enterprise | Vadodara - We capture Memories.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Purpose</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Because every picture tells a Story, let me tell Yours.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Goal</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Capturing moments from today, Creating memories for a lifetime.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start section -->
        <section class="wow fadeIn big-section bg-extra-dark-gray">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 wow fadeIn text-center text-lg-left">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom sm-margin-15px-bottom md-text-middle-line font-weight-300">Who we are?</span>
                        <h6 class="text-extra-light-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We are a company providing photography and videography services in Vadodara with vast experience and expertise. We are always eager to shoot your special events and film it in the most beautiful way possible. Our specialization lies in wedding photography because we feel weddings are one of the most memorable moments of our lives. Our motive is to make your weddings and events more memorable. We want you to be able to cherish those memories by just having a glance on the pictures. We want to capture your every single moment, because we believe that those single, tiny moments have a beautiful hidden story behind them.</h6>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 text-center text-lg-left wow fadeIn">
                        <span class="text-extra-large text-middle-line text-dark-gray d-block margin-five-bottom md-margin-15px-bottom md-text-middle-line font-weight-300">Services</span>
                        <h6 class="text-extra-dark-gray d-inline-block font-weight-300 md-width-80 sm-width-100">We have a crew with rich experience and expertise in wedding, events and product photography. We provide you wide range of services regarding photography and videography. We are a one stop solution for all your photography and videography projects. Our services include:</h6>
                        <ul>
                            <li>Wedding Photography</li>
                            <li>Wedding Videography</li>
                            <li>Pre-Wedding Photography</li>
                            <li>Event Photography</li>
                            <li>Portrait & Portfolio</li>
                            <li>Product Photography</li>
                            <li>Baby Photoshoot</li>
                            <li>Video Editing</li>
                            <li>Album Designing and Printing</li>
                        </ul>
                        
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="/services" class="btn btn-deep-pink btn-rounded btn-large margin-20px-top sm-no-margin-top" role="button">View all Services</a>
                    </div>
                </div>
            </div>
        </section>
        {{>footer}}
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        {{>foot}}