{{>head title="Contact us - Best Photography and Videography Services" meta_description="New Shreenath Enterprise has been providing photography and videography services with so much dedication and expertise since many years. Contact them to avail their services." meta_keywords="photography, videography, cinematography, album designing, video editing, album printing, LED screens, wedding photography, event photography/videograp, prewedding photography product photography, photographers, videographers, Vadodara" meta_author="Black Quadrant Technologies"}}
<body class="width-100">
    {{>header}}
    <!-- start slider section -->
    <section class="wow fadeIn no-padding">
            <div class="container"> 
                <div class="row"> 
                    <div class="col-12">
                        <div class="swiper-number-pagination swiper-container black-move">
                            <div class="bg-transparent-white opacity-full-dark z-index-5 d-none d-lg-inline-block"></div>
                            <div class="swiper-wrapper">
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Work</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">New Shreenath Enterprise | Vadodara - We capture Memories.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Purpose</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Because every picture tells a Story, let me tell Yours.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                                <!-- start slider item -->
                                <div class="swiper-slide">
                                    <div class="slider-half-small-screen position-relative bg-white">
                                        <div class="slider-typography text-left">
                                            <div class="slider-text-middle-main">
                                                <div class="slider-text-middle">
                                                    <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink d-block margin-two-bottom width-50 sm-width-65">Our Goal</span>
                                                    <h2 class="text-extra-dark-gray width-50 d-inline-block font-weight-300 letter-spacing-minus-1 lg-width-70 sm-width-80">Capturing moments from today, Creating memories for a lifetime.</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end slider item -->
                            </div>
                            <div class="swiper-pagination swiper-number"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
        <!-- start form section -->
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('images/parallax-bg23.jpg');">
            <div class="opacity-full bg-black"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <!-- start contact-form head -->
                    <div class="col-12 col-xl-5 col-md-6 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center">
                        <div class="text-small text-medium-gray alt-font text-uppercase margin-5px-bottom">Contact us to discuss your Photography and Videography needs</div>
                        <h5 class="alt-font text-white-2 font-weight-600 mb-0">Fill out the form & we'll be in touch soon!</h5>
                    </div>
                    <!-- end contact-form head -->
                </div>
                <!-- start contact-form -->
                <form id="project-contact-form" action="javascript:void(0)" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div id="success-project-contact-form" class="mx-0"></div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="text" name="name" id="name" placeholder="Name *" class="bg-transparent border-color-medium-dark-gray medium-input">
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="text" name="phone" id="phone" placeholder="Phone" class="bg-transparent border-color-medium-dark-gray medium-input">
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="text" name="email" id="email" placeholder="E-mail *" class="bg-transparent border-color-medium-dark-gray medium-input">
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="text" name="subject" id="subject" placeholder="Subject *" class="bg-transparent border-color-medium-dark-gray medium-input">
                        </div>
                        <div class="col-12">
                            <textarea name="comment" id="comment" placeholder="Describe your event" rows="6" class="bg-transparent border-color-medium-dark-gray medium-textarea"></textarea>
                        </div>
                        <div class="col-12 text-center">
                            <button id="project-contact-us-button" type="submit" class="btn btn-deep-pink btn-rounded btn-large margin-20px-top sm-no-margin-top">send message</button>
                        </div>
                    </div>
                </form>
                <!-- end contact-form -->
            </div>
        </section>
        <!-- end form section -->
        <!-- start section -->
        <section class="wow fadeIn big-section">
            <div class="container">
                <div class="row align-items-center">
                    <!-- start slogan -->
                    <div class="col-lg-6 text-center text-md-left md-margin-three-bottom sm-margin-20px-bottom">
                            <h6 class="text-dark-gray width-70 lg-width-100 no-margin-bottom">Vadodara Based New Shreenath Enterprise</h6>
                    </div>
                    <!-- end slogan -->
                    <!-- start contact information -->
                        <div class="col-lg-6 text-center text-md-left sm-margin-20px-bottom">
                            <span class="display-block">7, Mauli Chambers,<br>B/h Govind Bhuvan,<br>Dandia Bazar, Vadodara - 390001.</span>
                            +91 9824250996, +91 9925709763
                        </div>
                    <!-- end contact information -->
                    </div>
                </div>    
            </div>
        </section>
        {{>footer}}
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        {{>foot}}