<footer class="footer-strip padding-50px-tb sm-padding-30px-tb">
    <div class="container">
        <div class="row align-items-center">
            <!-- start copyright -->
            <div class="col-md-12 text-center text-small alt-font sm-margin-10px-bottom">
            &copy; 2019 New Shreenath Enterprise</a>.
        </div>
        <!-- end copyright -->
    </div>
</div>
</footer>