<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/modernizr.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/skrollr.min.js"></script>
<script type="text/javascript" src="/js/smooth-scroll.js"></script>
<script type="text/javascript" src="/js/jquery.appear.js"></script>
<!-- menu navigation -->
<script type="text/javascript" src="/js/bootsnav.js"></script>
<script type="text/javascript" src="/js/modernizr.js"></script>
<!-- animation -->
<script type="text/javascript" src="/js/wow.min.js"></script>
<!-- page scroll -->
<script type="text/javascript" src="/js/page-scroll.js"></script>
<!-- swiper carousel -->
<script type="text/javascript" src="/js/swiper.min.js"></script>
<!-- counter -->
<script type="text/javascript" src="/js/jquery.count-to.js"></script>
<!-- parallax -->
<script type="text/javascript" src="/js/jquery.stellar.js"></script>
<!-- magnific popup -->
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<!-- portfolio with shorting tab -->
<script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
<!-- images loaded -->
<script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
<!-- pull menu -->
<script type="text/javascript" src="/js/classie.js"></script>
<script type="text/javascript" src="/js/hamburger-menu.js"></script>
<!-- counter  -->
<script type="text/javascript" src="/js/counter.js"></script>
<!-- fit video  -->
<script type="text/javascript" src="/js/jquery.fitvids.js"></script>
<!-- skill bars  -->
<script type="text/javascript" src="/js/skill.bars.jquery.js"></script> 
<!-- justified gallery  -->
<script type="text/javascript" src="/js/justified-gallery.min.js"></script>
<!--pie chart-->
<script type="text/javascript" src="/js/jquery.easypiechart.min.js"></script>
<!-- instagram -->
<script type="text/javascript" src="/js/instafeed.min.js"></script>
<!-- retina -->
<script type="text/javascript" src="/js/retina.min.js"></script>
<!-- revolution -->
<script type="text/javascript" src="/revolution_js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/revolution_js/jquery.themepunch.revolution.min.js"></script>
<!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
    </html>