<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="{{meta_author}}">
        <!-- description -->
        <meta name="description" content="{{meta_description}}">
        <!-- keywords -->
        <meta name="keywords" content="{{meta_keywords}}">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="/css/animate.css">
        <!-- bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- et line icon --> 
        <link rel="stylesheet" href="/css/et-line-icons.css">
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- themify icon -->
        <link rel="stylesheet" href="/css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="/css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="/css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="/css/magnific-popup.css">
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="/revolution_css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/revolution_css/layers.css">
        <link rel="stylesheet" type="text/css" href="/revolution_css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="/css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="/css/responsive.css">
        
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>